footer {
  color: navy;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content p {
  font-weight: 700;
  font-size: 20px;
  color: #34588a;
  margin: 0;
  line-height: 1.5;
}

.social-media a {
  transition: transform 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.1);
}

.social-media a img {
  width: 25px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }

  .social-media,
  .footer-content {
    flex: 1 100%;
    text-align: center;
    margin-top: 10px;
  }

  .footer-content {
    align-items: center;
  }

  .footer-content p {
    padding-right: 0;
  }
}
