header {
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 20px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: navy;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu.active {
  left: 0;
  z-index: 1000;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 24px;
  font-weight: 700;
  color: navy;
}

.nav-link:hover {
  color: #070033;
}

.nav-logo {
  font-size: 40px;
  font-weight: 900;
  color: navy;
}

.btn-hover {
  font-size: 16px;
  padding: 15px 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-btn {
  background-image: linear-gradient(
    to right,
    #34588a,
    #4481eb,
    #061586,
    #0958ce
  );
  box-shadow: 0 4px 15px 0 rgba(4, 79, 190, 0.75);
}

@media only screen and (max-width: 894px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* courses page */
.image-container {
  position: relative;
  width: 100%;
}

.cover-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  font-weight: 800;
}

.register-button {
  margin-top: 10px;
  padding: 12px 30px;
  background-color: #34588a;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.register-button:hover {
  background-color: navy;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.courses-section {
  text-align: center;
  margin: 20px 0;
  margin-bottom: 20px;
}

.courses-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  color: #061586;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

@media (min-width: 992px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.course-card {
  background: #1a1a1a;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 300px;
}

.course-info {
  padding: 10px;
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.course-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.course-info {
  padding: 15px;
}

.course-info h3 {
  margin-top: 0;
}

.course-link {
  color: #4caf50;
  text-decoration: none;
}

/* footer styles */
footer {
  color: navy;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 20px 0;
  background: #f8f9fa;
}

.footer-content p {
  font-weight: 700;
  font-size: 20px;
  color: #34588a;
}

.social-media a {
  transition: transform 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.1);
}

.social-media a img {
  width: 25px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .social-media,
  .footer-content {
    flex: 1 100%;
    text-align: center;
    margin-top: 10px;
  }

  .footer-content {
    align-items: center;
  }

  .footer-content p {
    padding-right: 0;
  }
}
